# Ignore truffle stuff
build/

subgraph.yaml
generated/
node_modules/
src/types/
src/mappings/helpers/metadata.ts
.DS_STORE
yarn-error.log
subgraph.yaml
config/addresses.ts
config/generatedAddresses.json
tests/.bin
.vscode
.latest.json